name: Test

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      FULL_ACCESS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    steps:
      - uses: actions/setup-go@v2-beta
        with:
          go-version: 1.14.1
      - uses: actions/checkout@v2
      - run: go get -v -t -d
      - name: Test
        run: go test -v ./...
