name: Test

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      FULL_ACCESS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Earthly
        uses: earthly/actions/setup-earthly@v1
        with:
          version: latest
      - name: Run build
        run: earthly --secret FULL_ACCESS_GITHUB_TOKEN +test
